@import '~minireset.css/minireset.sass';

:global {
  @import '~bny-shell/dist/style';
}

body {
  font-size: 20px;
  min-height: 100%;
  background-image: url(../images/react.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
}
