@import "../../assets/sass/variables";

.default {
  composes: default from '../../assets/sass/button.scss';
  width: 24px;
  padding: 2px 0 0;

  svg path {
    fill: $color-gray-light;
  }

  &:hover:not(:disabled) svg path {
    fill: $color-gray-darker;
  }
}
