@import "../../assets/sass/variables";

.item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 32px;
  margin: 0 5px;
  background-color: $color-gray;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover:not(.disabled) {
    background-color: $color-primary;

    .item-content {
      color: $color-gray-darker;
    }
  }
}

.item-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  color: $color-gray-light;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  &:focus {
    outline: solid 1px $color-primary;
  }
}

.disabled {
  background-image: url(./top-navigation-item-background.png);

  .item-content {
    color: $color-gray-light;
  }
}
