@import "../../assets/sass/variables";

:global {
  @import '~bnym-shell/dist/bnym-shell';

  .shell-header {
    background-color: $color-brand;
  }

  .shell-application-logo {
    background: url(../images/application-logo.png) no-repeat center center;
  }

  .shell-application-title {
    font-family: AkkuratRegular, sans-serif;
    font-size: 18px;
  }
}
