@import "../../assets/sass/variables";

.shell-header {
  background-color: $color-brand;
}

.shell-application-logo {
  background: url(../images/application-logo.png) no-repeat center center;
}

.shell-application-title {
  font-family: AkkuratRegular, sans-serif;
  font-size: 18px;
}

.shell-application-info {
  font-family: AkkuratBoldBold, sans-serif;
  font-size: 12px;
}

