@import "../../assets/sass/variables";

.default {
  composes: default from './typography.scss';
  display: block;
  height: 24px;
  padding: 0 15px;
  border: none;
  color: $color-gray-light;
  background-color: $color-gray-darker;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;

  &:hover:not(:disabled) {
    background: $color-primary;
    color: $color-gray-darker;
    cursor: pointer;
  }

  &:focus {
    outline: solid 1px $color-primary;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.primary {
  composes: default;
  background: $color-primary;
  color: $color-gray-darker;
}
