@import "../../assets/sass/variables";

.default {
  composes: default from './typography.scss';
  height: $input-heigth;
  width: 100%;
  border: solid 1px $default-color-border;
  padding: 0 8px;
  color: $color-gray-lighter;
  background-color: $color-gray-darker;

  &:disabled {
    opacity: 0.5;
  }

  &:focus,
  &:hover:not(:disabled) {
    outline: solid 1px $color-primary;
  }
}

.error {
  composes: default;
  outline: solid 1px $color-error;
  background: $color-error-background url(../images/input-error.svg) no-repeat right 5px center;

  &:focus,
  &:hover:not(:disabled) {
    outline: solid 1px $color-error;
  }
}

