@import "../../assets/sass/variables";

:global {
  body {
    background-color: $color-gray;
  }

  * {
    font-size: 12px;
    font-family: AkkuratBoldBold, sans-serif;

    &:focus {
      outline: solid 1px $color-primary;
    }
  }

  .btn {
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    height: 22px;

    .icon {
      width: 10px;

      &.left {
        margin-right: 10px;
      }

      &.right {
        margin-left: 10px;
      }
    }
  }
}
