$color-primary: #f4bd0c;
$color-brand: #83744c;
$color-gray-lighter: #fff;
$color-gray-light: #d0d3d6;
$color-gray: #2b3036;
$color-gray-dark: #262b2f;
$color-gray-darker: #16181b;

$default-color-border: #454f58;
$default-panel-shadow: box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.5);
$input-heigth: 24px;
